.quiz{
    margin:auto;
    margin-top:50px;
    padding:20px;
    width:70%;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    background-color:aliceblue;
}
.quiz ul li{
    display: flex;
    align-items:center;
    border:1px solid #472147;
    border-radius:5px;
    padding:10px;
    margin-bottom: 10px;
    cursor:pointer;
}
.quiz ul li:hover{
    background-color: blueviolet;
    color:#cccccc;

}
.quiz button{
    width:300px;
    height:40px;
    padding:10px;
    margin:auto;
    cursor:pointer;
    border-radius: 5px;
    color:#cccccc;
    background-color: blueviolet;

}
.quiz button:hover{
    background-color: #997c99;
    cursor:pointer;
    color:#472147;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}